[v-cloak]{
    display: none;
}
.container{
    width: 420px;
    height: 320px;
    min-height: 320px;
    max-height: 320px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    z-index: 130;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 18px rgba(100, 0, 0, 0.5);
    font-size: 16px;
}

.container1{

    width: 420px;
    height: 430px;
    min-height: 420px;
    max-height: 440px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    z-index: 120;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 18px rgba(100, 0, 0, 0.5);
    font-size: 16px;
}

.container2{

    width: 420px;
    height: 430px;
    min-height: 420px;
    max-height: 440px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    z-index: 110;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 18px rgba(100, 0, 0, 0.5);
    font-size: 16px;
}

.containerUser{
    width: 420px;
    height: 320px;
    min-height: 320px;
    max-height: 320px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    z-index: 130;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 3px 18px rgba(100, 0, 0, 0.5);
    font-size: 16px;
}

.close{
    background-color: white;
    border: none;
    font-size: 18px;
    margin-left: 410px;
    margin-top: -10px;
}

.layui-input{
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-size: 15px;
}
.layui-search{
    position: absolute;
    margin-top: -70px;
    right:50%;
    margin-right: -100px;
}
.layui-input-search{
    border-radius: 5px;
    width: 200px;
    height: 30px;
    font-size: 15px;
    margin-left: -20px;
}

.layui-form-item{
    margin-left: -20px;
}
#logoid{
    margin-top: -16px;
    padding-left:150px;
    padding-bottom: 15px;
}
.layui-btn{
    margin-left: -50px;
    border-radius: 5px;
    width: 350px;
    height: 40px;
    font-size: 15px;
}
.layui-btn-search{
    margin-top: -5px;
    margin-left: 0px;
    border-radius: 5px;
    width: 34px;
    height: 34px;
    font-size: 15px;
}

.verity{
    width: 120px;
}
.font-set{
    font-size: 13px;
    text-decoration: none;
    margin-left: 100px;
}
.font-set1{
    font-size: 13px;
    text-decoration: none;
    margin-left: 200px;
}
a:hover{
    text-decoration: underline;
}
.layui-form-item h1{
    font-size: 2.2em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;


}

.layui-form-item h2{
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.layui-form-item h5{
    margin-left:110px;
    color: #FF5722;
    margin-top: -5px;
}
